.image-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Define 12 equal-width columns */
}

.image-div {
  grid-column: span 3; /* Each image spans 3 columns */
  display: flex;
  align-items: center;
  padding: 40px;
}

.image-div img {
  width: 100%; /* Make image fill the full width of the parent */
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.image-div img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust grid to 6 columns for smaller screens */
  }

  .image-div {
    grid-column: span 3;
  }
}

@media (max-width: 540px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust grid to 6 columns for smaller screens */
  }

  .image-div {
    grid-column: span 6; 
  }
}


/* Carousel Modal styles */
.carousel-modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
}

.carousel-content {
  position: relative;
  width: 100%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.carousel-image {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.painting-description {
  font-size: 12px;
}
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #000;
  font-size: 40px;
  cursor: pointer;
  z-index: 1001;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 20px;
  color: #000;
  font-weight: bold;
  font-size: 32px;
  z-index: 1001;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

